$navbar-color:#333;
$black-color:#000;
$white-color:#fff;
$welcome-color:#1C1C45;
$green-color:#0A9FC2;
$blue-color:#005DAA;
$grey-textcolor:#7D818B;
$grey-background:#f9f9f9;
$greytab-color: #BBC2D2;
$button-text-color:#AFB5C1;
$white-button-border:#BBC2D2;
$red-color:#EE6565;
//$grey-container:#BBC2D212;
