.custom_pagination{
    
	transition:400ms ease;
	color: #595959;
	font-size: 16px;


    // display: flex;
    // // background-color: red;
    // align-self: flex-end;
    // margin-right: 50px;
    &__pgno{
        color:#0a9fc2 !important;
        font-size: 16px;
        font-weight: 600;
        border: 1px solid #E1DEDF;
        padding:10px 15px;
        background: #fff;

        &.active{
            // border: 1px solid #0A9FC2;
             border-radius: 0px;
            // background-color: #0A9FC2;
           color:white !important;
           background-color: #0a9fc2 ;
        }
        
        &:hover {
            background-color:#E1DEDF;
            color: white;
           
        }
        &.current {
            background-color:#0a9fc2 ;
            color: #fff;
        }
    }

    &__left {
        
        border: 1px solid #E1DEDF;
        background-color: white;
        color: #BBC2D2;
        padding:10px 15px;

        &:active{
            border: 1px solid #0A9FC2;
            background-color: #0A9FC2;
            color: white;
        }
        
        &:hover {
            background-color: #0A9FC2;
            color: white;
        }
    }

    select {
        font-size: 16px;
        border-radius: 0;
        border: 1px solid #E1DEDF;
        height: 33px;
        width: 50px;
        padding: 0.3rem;
    }
}
